@model VisitorManagementSystemMVC.Models.LoginViewModel
@{ 
    ViewBag.Title = "User Login";
}

<div class="col-md-6 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-info text-uppercase text-white">
            <h4>Login</h4>
        </div>
       
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-info" style="width:100%">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        
    </div>
</div>